.gradle
.settings
bin
build
.cache-main
.cache-tests
.classpath
.project
*.orig
*.rej
.metadata
target
*.diff
credentials.properties
**/Scratch*.scala
**/scratch/*
.tmpBin
jars/*

.idea/
*.iml
**/out/*
*.class

libs/*

*.eml